<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div class="col-md-6 col-lg-4 mb-4 mb-md-0">
    <div class="card text-black" th:fragment="card">
        <img th:id="${book.isbn}" src="no_cover.png" class="card-img-top downloadable"/>
        <div class="card-body">
            <div class="text-center mt-1">
                <h4 class="card-title" th:text="${book.title}"></h4>
                <h6 class="text-primary mb-1 pb-2" th:text="${'Price: '+ book.price }">
                </h6>
            </div>
            <div class="text-center mt-1 mb-2">
                <i th:if="${book.mark > 0}" class="fa-solid fa-star fa-2x"></i>
                <i th:unless="${book.mark > 0}" class="fa-regular fa-star fa-2x"></i>

                <i th:if="${book.mark > 1}" class="fa-solid fa-star fa-2x"></i>
                <i th:unless="${book.mark > 1}" class="fa-regular fa-star fa-2x"></i>

                <i th:if="${book.mark > 2}" class="fa-solid fa-star fa-2x"></i>
                <i th:unless="${book.mark > 2}" class="fa-regular fa-star fa-2x"></i>

                <i th:if="${book.mark > 3}" class="fa-solid fa-star fa-2x"></i>
                <i th:unless="${book.mark > 3}" class="fa-regular fa-star fa-2x"></i>

                <i th:if="${book.mark > 4}" class="fa-solid fa-star fa-2x"></i>
                <i th:unless="${book.mark > 4}" class="fa-regular fa-star fa-2x"></i>
            </div>
            <div class="text-center">
                <div class="p-3 mx-n3 mb-2" style="background-color: #eff1f2;">
                    <h5 th:if="${#lists.isEmpty(book.authors)}" class="mb-0">none</h5>
                    <h5 th:unless="${#lists.isEmpty(book.authors)}" class="mb-0"
                        th:text="${#strings.listJoin(book.authors, ', ')}"></h5>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <p class="small mr-auto p-1" th:each="genre_ : ${book.genre}">
                        <a href="#" class="text-muted" th:text="${genre_}">Genres</a>
                    </p>
                </div>
                <div class="d-flex flex-row">
                    <a th:href="@{/book(isbn=${book.isbn})}">
                        <button type="button" class="btn btn-outline-dark flex-fill me-1">
                            Learn more
                        </button>
                    </a>
                    <button type="button" class="btn btn-dark flex-fill ms-1"
                            th:attr="onclick=|addProductToCart('${book.isbn}')|">To cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-body p-4" th:fragment="card_invoice">
    <div class="row d-flex align-items-center">
        <div class="col-md-4 col-lg-4 col-xl-4">
            <p class="lead fw-normal mb-2" th:text="${invoice.buyer.email}"></p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3">
            <p class="lead fw-normal mb-2" th:text="${#temporals.format(invoice.orderedAt, 'dd-MM-yyyy HH:mm')}"></p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
            <p class="lead fw-normal mb-2" th:text="${invoice.status}"></p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
            <button th:attr="onclick=|get_inv_by_id('${invoice.id}')|"
                    type="button" class="btn btn-info"> Learn more
            </button>
        </div>
    </div>
</div>

<div class="card-body p-4" th:fragment="card_cart">
    <div class="row d-flex align-items-center">
        <div class="col-md-2 col-lg-2 col-xl-2">
            <img th:src="${'data:image/jpeg;charset=utf-8;base64,' + book.coverByte}"
                 class="img-fluid rounded-3"/>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3">
            <p class="lead fw-normal mb-2" th:text="${book.book.title}"></p>
            <p><span class="text-muted" th:text="'Authors: ' + ${#strings.arrayJoin(book.book.authors,',')}"> </span>
                <span class="text-muted" th:text="${book.book.isbn}"> </span></p>
        </div>
        <div th:if="${#strings.toString(book.bookType) == 'PAPER'}" class="col-md-3 col-lg-3 col-xl-2 d-flex">
            <button class="btn btn-link px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                <i class="fas fa-minus"></i>
            </button>

            <input th:id="${book.book.isbn}+'input'" min="1" name="quantity" th:value="${book.quantity}" type="number"
                   class="form-control form-control-sm"
                   th:attr="onchange=|on_change(${book.book.price},'${book.book.isbn}')|"/>

            <button class="btn btn-link px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
        <div th:unless="${#strings.toString(book.bookType) == 'PAPER'}" class="col-md-3 col-lg-3 col-xl-2 d-flex">
            <p class="lead fw-normal mb-2" th:text="${book.bookType}"></p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
            <h5 class="mb-0" th:id="${book.book.isbn}+'price'" th:text="${book.book.price} * ${book.quantity}"></h5>
        </div>
        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
            <a th:if="${#strings.toString(book.bookType) == 'PAPER'}"
               th:attr="onclick=|delete_book('${book.book.isbn}')|" class="text-danger">
                <button type="button" class="btn btn-danger">Delete</button>
            </a>
            <a th:unless="${#strings.toString(book.bookType) == 'PAPER'}"
               th:attr="onclick=|delete_electronic('${book.book.isbn}')|" class="text-danger">
                <button type="button" class="btn btn-danger">Delete</button>
            </a>
        </div>
    </div>
</div>


<div class="card rounded-3 mb-4">
    <div class="card-body p-4" th:fragment="card_review">
        <div class="row d-flex align-items-center">
            <div class="col-md-2 col-lg-2 col-xl-2">
                <p class="lead fw-normal mb-2" th:text="${review.visitor}">user</p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
                <p class="lead fw-normal mb-2">
                    <i th:if="${review.mark > 0}" class="fa-solid fa-star fa-1x"></i>
                    <i th:if="${review.mark > 1}" class="fa-solid fa-star fa-1x"></i>
                    <i th:if="${review.mark > 2}" class="fa-solid fa-star fa-1x"></i>
                    <i th:if="${review.mark > 3}" class="fa-solid fa-star fa-1x"></i>
                    <i th:if="${review.mark > 4}" class="fa-solid fa-star fa-1x"></i>
                </p>
                <p><span class="text-muted" th:text="${review.message}">review</span></p>
            </div>
            <div th:if="${review.isBanned}" class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">Banned</h5>
            </div>
            <div th:unless="${review.isBanned}" class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0" th:text="${#temporals.format(review.time, 'dd-MM-yyyy HH:mm')}">time</h5>
            </div>
            <div class="col" sec:authorize="hasAuthority('review:edit')">
                <a href="#" th:attr="onclick=|ban('${review.book}','${review.visitor}')|">
                    <i class="fa-solid fa-ban"></i>
                </a>
            </div>
        </div>
    </div>
</div>

