<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div class="container py-5" th:fragment="update">
    <form class="not-validated" method="post">
        <div class="form-group row">
            <div class="col-md-4 mb-3">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Email" th:value="${visitor.email}"
                       readonly required>
                <div class="invalid-feedback">Add email</div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="username">Username</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input id="username" th:value="${visitor.userName}" type="text" class="form-control"
                           placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">

                </div>
            </div>
            <label th:text="${additionInfo}"></label>
        </div>
        <div class="row">
            <div class="col align-self-end">
                <button type="button" class="btn btn-success" id="update">Update</button>
            </div>
        </div>
        <div class="row mt-3" sec:authorize = "hasAuthority('subscribe:subscribe')">
            <div class="col-sm-2">
                <p>Subscribe: </p>
            </div>
            <div class="col-sm-8">
                <button type="button" class="btn btn-outline-secondary" id="one" onclick="purchase('MONTH')">One Month</button>
                <button type="button" class="btn btn-outline-primary" id="three" onclick="purchase('THREE_MONTH')">Three Month</button>
                <button type="button" class="btn btn-outline-success" id="six" onclick="purchase('SIX_MONTH')">Six Month</button>
                <button type="button" class="btn btn-success" id="year" onclick="purchase('YEAR')">One Year</button>
            </div>
        </div>
        <div class="row mt-3" sec:authorize = "hasAuthority('subscribe:unsubscribe')">
            <div class="col">
                <button type="button" class="btn btn-warning" onclick="unsubscribe()"> Unsubscribe</button>
            </div>
        </div>
    </form>
</div>
<script src="/script/user_update.js"></script>