<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!--favicon-->

<link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5" th:fragment="author_form(author)">
        <label>Add author</label>
        <form class="not-validated" th:action="@{/author}" th:object="${author}" method="post"
              enctype="multipart/form-data">
            <div class="form-group row">
                <div class="col">
                    <label for="id">Id</label>
                    <input type="text" class="form-control" id="id" placeholder="Id" th:value="${author.id}"
                           th:field="*{id}" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName"
                           placeholder="first name" th:value="${author.firstName}" th:field="*{firstName}" required>
                    <div class="invalid-feedback">Add name</div>
                </div>
                <div class="col">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" th:field="*{lastName}"
                           placeholder="last name" th:value="${author.lastName}">
                </div>
                <div class="col">
                    <br />
                    <button class="btn btn-dark" type="submit" formmethod="post" value="Upload" id="button">
                        Update
                    </button>
                </div>
            </div>
        </form>
    </div>
    <nav th:replace="fragment/pagination :: page(page=${page})"></nav>
    <div id="authorTable">
        <table class="table" >
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
            </tr>
            </thead>
            <tbody th:each="author : ${authors}">
            <tr>
                <th scope="row"><button type="button" class="btn btn-link" th:text="${author.id}"
                                        th:attr="onclick=|setId('${author.id}','${author.firstName}','${author.lastName}')|" >Id</button></th>
                <td th:text="${author.firstName}">first name</td>
                <td th:text="${author.lastName}">last name</td>
            </tr>
            </tbody>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="script/author.js"></script>
</body>
</html>