<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!--favicon-->
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1c103036b2.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: #eee;">
<div id="header" th:insert="fragment/header :: header"></div>
<div id="prod-info" class="container">
    <br>
    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">
                <article class="gallery-wrap">
                    <div class="img-big-wrap">
                        <img th:id="${book.isbn}" src="no_cover.png" class="downloadable" style="display: flex;max-width:100%;max-height:100%" alt="cover"/>
                    </div>
                </article>
            </aside>
            <aside class="col-sm-7">
                <article class="card-body p-5">
                    <h3 class="title mb-3" th:text="${book.title}">
                        <small class="text-muted" th:text="${#strings.listJoin(book.author,',')} "></small>
                    </h3>

                    <p class="price-detail-wrap">
	                    <span class="price h3 text-warning">
		                <span class="currency">Price: </span>
                        <span class="num" th:text="${book.price}"></span>
	                    </span>
                    </p>
                    <dl class="item-property">
                        <dt>Description</dt>
                        <dd><p th:text="${book.annotation}"></p></dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3">In shop</dt>
                        <dd class="col-sm-5" th:text="${book.count}"></dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3">Year</dt>
                        <dd class="col-sm-5" th:text="${book.year}"></dd>
                    </dl>  <!-- item-property-hor .// -->
                    <dl class="row">
                        <dt class="col-sm-3">Genre:</dt>
                        <dd class="col-sm-5" th:text="${#strings.listJoin(book.genre,',')}"></dd>
                    </dl>  <!-- item-property-hor .// -->
                    <dl class="row">
                        <dt class="col-sm-3">Publishing house</dt>
                        <dd class="col-sm-5" th:text="${book.publishingHouse}"></dd>
                    </dl>  <!-- item-property-hor .// -->
                    <dl class="row">
                        <dt class="col-sm-3">ISBN</dt>
                        <dd class="col-sm-5" th:text="${book.isbn}" id="isbn-label"></dd>
                    </dl>  <!-- item-property-hor .// -->
                    <hr>
                    <div class="row">
                        <div class="col-sm-7">
                            <dl class="param param-inline">
                                <dt>Version:</dt>
                                <dd>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="version"
                                               id="inlineRadio1" value="PAPER" checked>
                                        <span class="form-check-label">Paper version</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="version"
                                               id="inlineRadio2" value="ELECTRONIC">
                                        <span class="form-check-label">Electronic version</span>
                                    </label>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <hr>
                    <a href="#" id="fav-a">
                        <button id="fav-btn" name="fav-btn" class="btn btn-lg btn-dark text-uppercase">to favourite
                        </button>
                    </a>
                    <a href="#" class="btn btn-lg btn-outline-dark text-uppercase"
                       th:attr="onclick=|addElectronicVersionToCart('${book.isbn}')|">to cart</a>
                    <a sec:authorize="hasAuthority('book:write')" th:href="@{/book/update(isbn=${book.isbn})}"
                       class="btn btn-lg btn-warning text-uppercase">update</a>
                    <a th:if="${isDownload}" th:href="@{/book/drive(isbn=${book.isbn})}"
                       class="btn btn-lg btn-success text-uppercase">download</a>
                </article>
            </aside>
        </div>
    </div>
</div>
<br>
<div th:if="${isReview}" th:insert="fragment/review :: review"></div>

<section id="review-container"></section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="script/cart.js"></script>
<script src="script/review.js"></script>
<script src="script/download_cover.js"></script>
</body>
</html>