<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proceed payment</title>
    <link rel="stylesheet" href="/css/cart_stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="background-color: #E5E4E2">
<header th:replace="fragment/header :: header"></header>
<div class="container" style="background-color: #E5E4E2">
    <h2 class="text-center">Cart details <small th:text="${'total: ' + total}"></small></h2>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Book</div>
            <div class="col col-2">Author</div>
            <div class="col col-3">Book type</div>
            <div class="col col-4">Price</div>
            <div class="col col-5">Quantity</div>
        </li>
        <li class="table-row" th:each="book : ${books}">
            <div class="col col-1" data-label="Book name" th:text="${book.book.title}">book name</div>
            <div class="col col-2" data-label="Author" th:text="${#strings.listJoin(book.book.authors,',')}">author
            </div>
            <div class="col col-3" data-label="Book type" th:text="${book.bookType}">ELECTRONIC</div>
            <div class="col col-4" data-label="Price" th:text="${book.price}">200</div>
            <div class="col col-5" data-label="Quantity" th:text="${book.quantity}">1</div>
        </li>
        <li>
            <div class="col col-1"></div>
            <div class="col col-2"></div>
            <div class="col col-3"></div>
            <div class="col col-4"></div>
            <div class="col col-5">
                <a href="/cart" class="btn btn btn-outline-primary">Return</a>
                <a id="create-cart-button" class="btn btn-warning" href="/user">Pay</a>
            </div>
        </li>
    </ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="/script/cart.js"></script>
</body>
</html>