<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="background-color: #eee;">
<header th:replace="fragment/header :: header"></header>
<section class="h-100">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                </div>

                <div class="card rounded-3 mb-4" th:each="book : ${books}">
                    <div th:replace="fragment/card :: card_cart(book=${book})"></div>
                </div>

                <div class="card rounded-3 mb-4" th:if="${books.isEmpty()}">
                    </br>
                    <p><span class="text-muted">No items in cart</span></p>
                    </br>
                </div>
                <div class="card" th:if="${!books.isEmpty()}">
                    <div class="card-body">
                        <a href="/cart/create"><button type="button" class="btn btn-warning btn-block btn-lg">Proceed to Pay</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="script/cart.js"></script>
</body>
</html>