<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>BookShelf</title>
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!--favicon-->
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1c103036b2.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <link rel="stylesheet" href="/css/book_card.css">

    <style>
        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 8px;
        }

        .sidebar a {
            padding: 8px 8px 8px 8px;
            text-decoration: none;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            color: #f1f1f1;
        }

        .openbtn {
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
        }

        .openbtn:hover {
            background-color: #444;
        }

        #main {
            transition: margin-left .5s;
        }

        @media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 0;
            }
        }
    </style>
</head>
<body>
<div id="mySidebar" class="sidebar bg-dark text-white" style="box-shadow: 1px 1px 1px 1px black;">
    <article class="card-group-item">
        <header class="card-header">
            <h6 class="title">Price</h6>
        </header>

        <div class="filter-content">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col">
                        <label for="min_input">Min:</label>
                        <input type="number" class="form-control" id="min_input" placeholder="0"/>
                    </div>
                    <div class="form-group col text-right">
                        <label for="max_input">Max:</label>
                        <input type="number" class="form-control" id="max_input" placeholder="10,000"/>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <hr>
    <article class="card-group-item ">
        <header class="card-header">
            <h6 class="title">
                Genre
            </h6>
        </header>
        <div class="filter-content">
            <div class="card-body" id="genres-card">
                <div class="row">
                    <div class="custom-control custom-checkbox col-4 col-sm-6"
                         th:each="genre : ${T(com.yaniv.bookshelf.model.enums.Genre).values()}">
                        <input type="checkbox" class="custom-control-input" name="genre" th:id="${genre}"
                               th:value="${genre}"/>
                        <label class="custom-control-label" th:for="${genre}"
                               th:text="${#strings.capitalize(#strings.toLowerCase(#strings.replace(genre,'_',' ')))}"></label>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <hr>
    <article class="card-group-item">
        <header class="card-header">
            <h6 class="title">Sort by</h6>
        </header>
        <div class="filter-content">
            <div class="card-body">
                <label class="form-check">
                    <input class="form-check-input" type="radio" name="sort" value="PRICE" checked/>
                    <span class="form-check-label">Lower price</span>
                </label>
                <label class="form-check">
                    <input class="form-check-input" type="radio" name="sort" value="POPULARITY"/>
                    <span class="form-check-label">Less popular</span>
                </label>
                <label class="form-check">
                    <input class="form-check-input" type="radio" name="sort" value="PRICE_DESC"/>
                    <span class="form-check-label">Highest price</span>
                </label>
                <label class="form-check">
                    <input class="form-check-input" type="radio" name="sort" value="POPULARITY_DESC"/>
                    <span class="form-check-label">Most popular</span>
                </label>
            </div>
        </div>
        <div class="filter-content">
            <div class="card-body row">
                <button class="btn btn-light" type="button" onclick="filter()">Show result</button>
            </div>
        </div>
    </article>

</div>

<div id="main" style="background-color: #eee">
    <header th:replace="fragment/header :: header"></header>
    <button class="openbtn btn bg-secondary text-dark" onclick="openClose()">
        <i class="fa-solid fa-arrows-left-right"></i>
    </button>
    <section id="selection_books" th:replace="fragment/book_selection :: selection(page=${page}, book=${book})"></section>
</div>

<input type="text" id="filter_input" value="empty" class="invisible">
<input type="text" id="name_input" value="empty" class="invisible">

<script src="script/cart.js"></script>

<script>
    window.onload = function (){
        const selection_div = $('#selection_books').html();
        $('#selection_books').html(selection_div+"<script src=\"script/pageable_books.js\"/>");
    }

    function openClose() {
        const size = "25%";
        if (document.getElementById("mySidebar").style.width === size) {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        } else {
            document.getElementById("mySidebar").style.width = size;
            document.getElementById("main").style.marginLeft = size;
        }
    }

    function filter() {
        const genre = [];
        document.querySelectorAll('input[name="genre"]:checked').forEach((element) =>
            genre.push(element.id)
        )
        const filterDto = {
            min: $('#min_input').val(),
            max: $('#max_input').val(),
            sort: document.querySelector('input[name="sort"]:checked').value,
            genre: genre,
            page: 0
        };
        $.ajax({
            type: "GET",
            url: "/book/get-by-filter",
            data: filterDto,
            success: function (data) {
                $('#filter_input').text(JSON.stringify(filterDto));
                $('#name_input').text("");
                $('#selection_books').html(data +
                    "<script src=\"script/pageable_books_filter.js\"/>");
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function onSearchChange(){
        const title = $('#search-input').val();
        $.ajax({
            type: "GET",
            url: "/book/get-by-name",
            data: {name: title, page: 0},
            success: function (data) {
                $('#selection_books').html(data +
                    "<script src=\"script/pageable_books_name.js\"/>");
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
</script>
</body>
</html>