<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-up</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .gradient-custom {
            background: #6a11cb;
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }
    </style>
</head>
<body>
<header th:replace="fragment/header :: header"></header>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-75">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form method="post" class="needs-validation">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Sign up</h2>
                                <p class="text-white-50 mb-5">Please fill all fields</p>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="email-label">@</span>
                                    <input id="email" name="email" type="text" class="form-control" placeholder="Email"
                                           aria-describedby="email-label" required>
                                    <div class="invalid-feedback">
                                        Incorrect e-mail
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input id="userName" name="userName" type="text" class="form-control"
                                           placeholder="Username"
                                           aria-describedby="username-label" required>
                                    <div class="invalid-feedback">
                                        Username must have at least 8 characters
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input id="password" name="password" type="password" class="form-control"
                                           placeholder="Password"
                                           aria-describedby="password-label" required>
                                    <div class="invalid-feedback">
                                        Password must have at least 8 characters
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input id="repeat" type="password" class="form-control"
                                           placeholder="Repeat password" aria-describedby="repeat-label" required>
                                    <div class="invalid-feedback">
                                        Password doesn't match
                                    </div>
                                </div>
                                <p id="feedback" class="small mb-5 pb-lg-2"></p>
                                <button type="submit" class="btn btn-outline-light btn-lg px-5" onclick="validation()">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script>
    function validation() {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')

        var repeat = document.getElementById('repeat');
        var password = document.getElementById('password');
        var email = document.getElementById('email');
        var username = document.getElementById('userName');

        const elements = [repeat, password, email, username];
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    elements.forEach(element => {
                        element.classList.remove('is-invalid')
                        element.classList.remove('is-valid')
                    });

                    if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email.value))) {
                        event.preventDefault()
                        event.stopPropagation()
                        email.classList.add('is-invalid');
                    } else {
                        email.classList.add('is-valid')
                    }

                    if (username.value.length < 8) {
                        event.preventDefault()
                        event.stopPropagation()
                        username.classList.add('is-invalid');
                    } else {
                        username.classList.add('is-valid')
                    }

                    if (password.value.length < 8) {
                        event.preventDefault()
                        event.stopPropagation()
                        password.classList.add('is-invalid');
                        repeat.value = "";
                    } else {
                        password.classList.add('is-valid');

                        if (repeat.value !== password.value) {
                            event.preventDefault()
                            event.stopPropagation()
                            repeat.classList.add('is-invalid');
                        } else {
                            repeat.classList.add('is-valid')
                        }
                    }
                }, false)
            })
    }
</script>
</body>
</html>