<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Your page</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/book_card.css">

    <script src="https://kit.fontawesome.com/1c103036b2.js" crossorigin="anonymous"></script>
    <script src="script/clean_cart.js"></script>
    <style>
        html, body {
            height: 100%;
        }

        .flex-fill {
            flex: 1 1 auto;
        }
    </style>
</head>
<body onload="clean()">
<header th:replace="fragment/header :: header"></header>
<div class="main h-100 d-flex flex-column">
    <div class="container-fluid d-flex flex-fill">
        <div class="row flex-fill">
            <div class="col-2 bg-light pr-3 menuContainer d-flex flex-column text-white bg-dark" style="width: 280px; ">
                <ul class="nav nav-pills flex-column mb-auto">
                    <hr>
                    <li sec:authorize="hasAuthority('subscribe:subscribe')">
                        <a href="#" class="nav-link text-white">
                            <i class="fa-solid fa-user" style="color: #ffffff;"></i>
                            <strong>USER</strong>
                        </a>
                    </li>
                    <li sec:authorize="hasAuthority('book:write')">
                        <a href="#" class="nav-link text-white">
                            <i class="fa-solid fa-user-ninja" style="color: #ffffff;"></i>
                            <strong>ADMIN</strong>
                        </a>
                    </li>
                    <li sec:authorize="hasAuthority('subscribe:unsubscribe')">
                        <a href="#" class="nav-link text-white">
                            <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i>
                            <strong>SUBSCRIBER</strong>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a id="dashboard" href="#" class="nav-link text-white" onclick="selected_change('dashboard')">
                            <i class="fa-solid fa-table-columns" style="color: #ffffff;"></i> Dashboard
                        </a>
                    </li>
                    <li >
                        <a id="invoices" href="#" class="nav-link text-white" onclick="selected_change('invoices')">
                            <i class="fa-solid fa-receipt" style="color: #ffffff;"></i> Orders
                        </a>
                    </li>
                    <li>
                        <a id="products" href="#" class="nav-link text-white" onclick="selected_change('products')">
                            <i class="fa-solid fa-book" style="color: #ffffff;"></i> Products
                        </a>
                    </li>
                    <li>
                        <a id="available" href="#" class="nav-link text-white" onclick="selected_change('available')">
                            <i class="fa-solid fa-file-arrow-down" style="color: #ffffff;"></i> Available for download
                        </a>
                    </li>
                    <hr>
                    <li sec:authorize="hasAuthority('author:write')">
                        <a id="authors" href="/author" class="nav-link text-white" onclick="selected_change('authors')">
                            <i class="fa-solid fa-feather-pointed" style="color: #ffffff;"></i> Authors
                        </a>
                    </li>
                    <li sec:authorize="hasAuthority('book:write')">
                        <a id="new_book" href="#" class="nav-link text-white" onclick="selected_change('new_book')">
                            <i class="fa-solid fa-file-circle-plus" style="color: #ffffff;"></i> Add book
                        </a>
                    </li>
                    <li sec:authorize="hasAuthority('book:write')" >
                        <a id="orders" href="/book/create" class="nav-link text-white" onclick="selected_change('orders')">
                            <i class="fa-solid fa-file-invoice" style="color: #ffffff;"></i> Manage orders
                        </a>
                    </li>
                </ul>
            </div>
            <div id="data-container" class="col p-0" style="background-color: #eee;">
                <br>
                <p> <- Click to choose something</p>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="/script/user.js"></script>
<script src="/script/invoice.js"></script>
<script>
    function selected_change(id){
        console.log("id - " + id);
        const active = document.getElementsByClassName("active");

        console.log("selected - " + active.length);
        for (let i = 0; i < active.length; i++) {
            active[i].classList.add("text-white");
            active[i].classList.remove("active");
        }

        var new_active = document.getElementById(id);
        new_active.classList.add("active");
        new_active.classList.remove("text-white");
    }
</script>
</body>
</html>